<p>About selected deal</p>

</br>

<p>short_title: <%= type_checked_deal(@deal)["short_title"] %></p>
<p>what_to_expect: <%= type_checked_deal(@deal)["price"] %></p>
<p>about: <%= type_checked_deal(@deal)["address_information"] %></p>

</br>


<%= link_to 'Back', root_path %>